.list1{
    width: 80%;
    height: 200px;
    background-color: rgb(77, 173, 85);
    margin-left:4rem;
    margin-top:2rem;
}

.list2{
    width: 80%;
    height: 200px;
    background-color: rgb(77, 173, 85);
    margin-left: 4rem;
        margin-top: 2rem;
}
.pollist{
    min-height:500px;
}