



<div class="container my-2 pollist">
    <div class="row">
        <ng-container *ngFor="let policy of policylist" >
            <div class="col-lg-6">
                <div class="card mt-2 " style="width:550px ; background-color:rgb(179, 199, 199);">

                   <h3 style="text-align:center;color:green"> PolicyName :{{policy.policyName}}</h3>
                   <h4 style="text-align:center;color:green">{{policy.description}}</h4>

                   <div class="row">
                     <div class="col-6" style="padding-left: 50px;">
                        <h4> Type : {{policy.insuranceTye}}</h4>
                        <h4> AgeLimit : {{policy.ageLimit}}</h4>
                     </div>
                     <div class="col-6" >
                        <h4> Primium : {{policy.premiumAmount}} / Month</h4>
                        <h4> PolicyCover : {{policy.coverAmount}}</h4>
                     </div>
                   </div>


                    <button type="button" class="btn btn-primary m-2"><a [routerLink]="['/PolicyList','details',policy.id]"
                            style="color:white;text-decoration:none">View Details</a>
                        </button>
                </div>
            </div>

        </ng-container>

    </div>

    <p *ngIf="!policylist || policylist.length <=0"> No Policies Added </p>
</div>



 