.navbar {
    justify-content: space-between;


}

span {
    padding-right: 1rem;

}

a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.logbott {
    font: size 30px;
    color: rgb(186, 38, 38);
    /* background-color: rgb(11, 0, 45); */
    margin-right: 25px;
}