


<footer>

    <div class="footer-content">
        
        <h3>ClaimApp : A Health insurence limited company</h3>
        


        <p>
         <span style="font-size:20px; color:red">Address : </span>
        2nd Floor, #36/5, Hustlehub One East, Somasandrapalya, 27th Main Rd, Sector 2, HSR Layout, Bengaluru, Karnataka 560102</p>

       <ul>
        <li><i class="fa-solid fa-envelope"></i> : admin@gmail.com</li>
        <li><i class="fa-solid fa-phone"></i>  +919834567329</li>
       </ul>
          
            <ng-container *ngIf="Role==2">
            <button type="button" style="background: linear-gradient(to left, #35d3e5,#e35d5b);" class="m-2"><a
                    routerLink="admindashboard" style="color:white;text-decoration:none">GO TO ADMIN DASHBOARD</a></button>
    </ng-container>
        <ul class="socials">
            <li><a href="https://www.facebook.com/rituraj.chaurasia.50" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>

            <li><a href="https://www.instagram.com/rituraj_6171" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>

            <li><a href="https://www.linkedin.com/in/rituraj-kumar-a97812201" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>

            <li><a href="https://www.twitter.com/@Rituraj44255865" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>

            <li><a href="https://wa.me/916200964002" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
        <div class="footer-bottom d-flex">

            <p>copyright &copy;2022 ! Claim Managment App ! designed by : <span> Team1</span></p>

        </div>
    </div>


</footer>





