


<footer>

    <div class="footer-content">
        <h3>ClaimApp : The Online plateform where you buy life Secuirity</h3>
        <p>Lorem ipsum hfkasjfdl dolor sit amet consectetur adipisicing elit. Officiis veniam praesentium nemo
            ipsa
            asperiores eum deserunt dolores, repudiandae cum assumenda.</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/rituraj.chaurasia.50" target="_blank"><i
                        class="fa fa-facebook"></i></a>
            </li>

            <li><a href="https://www.instagram.com/rituraj_6171" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>

            <li><a href="https://www.linkedin.com/in/rituraj-kumar-a97812201" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>

            <li><a href="https://www.twitter.com/@Rituraj44255865" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>

            <li><a href="https://wa.me/916200964002" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
        <div class="footer-bottom d-flex">

            <p>copyright &copy;2022 ! Claim Managment App ! designed by : <span> Team1</span></p>

        </div>
    </div>


</footer>





