<div class="login">
    <div class="login1">
        <div class="login2-1">
            <h2>Login Here</h2>
            <hr>
        </div>
        <div class="login2-2">


            <form [formGroup]="LoginForm" (ngSubmit)="LoginUser()">


                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        formControlName="Email">

                    <!-- validation start -->
                    <div class="form-text text-danger"
                        *ngIf="useremail.errors?.['required'] && (useremail.dirty || useremail.touched)">
                        Email is Required
                    </div>

                    <div class="form-text text-danger"
                        *ngIf="useremail.errors?.['email'] && (useremail.dirty || useremail.touched)">
                        Email is Invalid
                    </div>
                    <!-- end -->

                </div>




                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"
                        formControlName="Password">

                    <!-- validation start -->
                    <div class="form-text text-danger"
                        *ngIf="userpass.errors?.['required'] && (userpass.dirty || userpass.touched)">
                        password is Required
                    </div>

                    <div class="form-text text-danger"
                        *ngIf="userpass.errors?.['minlength'] || userpass.errors?.['maxlength']  && (userpass.dirty || userpass.touched)">
                        password must be at least 6 and max 15 characters.
                    </div>
                    <!-- end -->

                </div>
        

        <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-primary ">Login</button> 

        





        </form>


    </div>



</div>