<div class="login">
    <div class="login1">
        <div class="login2-1">
            <h2>Login Here</h2>
            <hr>
        </div>
        <div class="login2-2">


            <form>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill" >
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="password" [formControl]="password" required>

                    </mat-form-field>   -->


                     <mat-form-field appearance="fill">
                        <mat-label>Enter your password    </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                        </button>
                    </mat-form-field> 


                   



                    <div class="btnlogin">
                        <button mat-raised-button color="primary">Login</button>
                     
                    </div>




                </div>

            </form>


        </div>

    </div>

</div>