<div class="main_containt">
   <!-- <img src="/assets/images/img11.jpg" alt="" width="1300px  "> -->
</div>

<mat-grid-list cols="3" rowHeight="500px" class="doctorname">
    <div>
       <h2>our doctors</h2>
    </div>
    
    <mat-grid-list cols="3" rowHeight="2:1">
        
              

    <mat-grid-tile class="photo">
        <div class="photo2">
            <div class="photo3">
                <img src="/assets/images/banner2.png" alt="" height="200px" width="300px">
                
            </div>
            <div class="12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, temporibus!
                </p>
            </div>
    
        </div>
    
    </mat-grid-tile>

    
        
    </mat-grid-list>