<div class="container my-2">
    <div class="row">
        <ng-container *ngFor="let user of users">
            <div class="col-lg-4">
                <div class="card mt-2" style="width:340px">
                
                    <div class="card-body">
                        <h4 class="card-title"> UserId : {{user.userId}}</h4>
                        <p class="card-text">UserEmail : {{user.email}}</p>
                        <p class="card-text">UserPas : {{user.password}}</p>
                        
                        

                    </div>
                </div>
            </div>

        </ng-container>

    </div>
</div>

