.editpol {
    background-color: rgb(168, 41, 41);
    position: relative;
    min-height: 500px;
    background-image: url(/assets/images/img3.webp);
}

.container1 {
    background-color: rgb(201, 200, 221);
    width: 40%;
    height: 450px;
    position: absolute;
    left: 22rem;
    top: 1rem;

}

.apply{
    margin:10px 20px; 
}

.edilpol2 {
    margin: 3px 3px;
}

.head {
    height: 50px;
    background-color: #fff;
}

.head2 {
    text-align: center;

}

.butt{
    justify-content: center;
    margin-left:200px;
}